:host {
    display: block;
  }
  
  .body-section {
    position: relative;
    overflow: hidden;
  }
  
  lightning-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }